html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background: url(tlo_oferty.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Playfair Display', serif;

}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  #tekst{
      font-family: Arial, Helvetica, sans-serif;
  }
  footer {
      color:white;
    background-image: linear-gradient(to bottom right, black, grey);
    padding: 25px;
    border-radius: 20px 20px 0 0;
  }
.jumbotron{
padding:0;
margin:0;

}
#block1{
min-width: 100%;    
height: 500px;
padding:0;
margin:0;

}
.navbar{
width: 100%; 
}
.navbar img{
width:100px;
height:70px;
margin-top: 5px;
float: left;
margin-right:10px;
}
ul li{
padding-right: 40px;
}
ul li:last-child{
padding-right: 0;
}
.carousel{
width:100%;
padding:0;
margin:0;

}
.carousel img{
height:500px;  
min-width: 100%;
object-fit: cover;
}
#sekcja{
max-width:100%;
overflow: hidden;
text-align: center;
color: white;

background: url(tlo_oferty.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#sekcja img{
    width:300px;
    height:150px;    
    }